<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<title><%= title %></title>
</head>
<body>
	<div class="container">
		<h1><%= title %></h1>
		<form action="/" method="post">
			<input type="text" name="title" required>
			<button type="submit">Create</button>
		</form>
		<% if(created) { %>
			<span>Note has been created</span>
		<% } %>
		<% if(notes.length) { %>
		<ul>
			<% for(let i = 0; i < notes.length; i++) { %>
				<div class="note">
					<li class="defaults"><%= notes[i].title %></li>
					<input class="for-edit" type="text" value="<%= notes[i].title %>">
					<span>
						<span class="defaults">
							<button data-type="edit" data-id="<%= notes[i].id %>">Edit</button>
							<button data-type="remove" data-id="<%= notes[i].id %>">Del</button>
						</span>
						<span class="for-edit">
							<button data-type="save" data-id="<%= notes[i].id %>">Save</button>
							<button data-type="cancel" data-id="<%= notes[i].id %>">Cancel</button>
						</span>
					</span>
				</div>
			<% } %>
		</ul>
		<% } else { %>
			<span>There's no notes</span>
		<% } %>
	</div>
	<script src="/app.js"></script>
</body>
</html>
